{% extends 'base.html' %}

{% block content %}
<body id="page-top">
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx">
          <h2>Shopy에 오신걸 환영합니다!</h2>
          <ul>
            <li class="lead">Shopy는 기존의 폐쇄적인 자영업자 커뮤니티를</li>
            <li class="lead">보다 자유롭고, 개방된 환경을 조성하기위해 시작된 커뮤니티입니다.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <br/>
  <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx">
          <h2>Shopy의 서비스 종류</h2>
          <ul>
            <li class="lead">Shopy는 지역별/산업별 카테고리를 지원하는 커뮤니티 게시판을 제공합니다.</li>
            <li class="lead">또한 서울 열린데이터 광장에서 제공해주는 데이터를 기반으로</li>
            <li class="lead">서울특별시의 각 동별 자영업자와 사업체수 추이를 제공합니다.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <br/>
  <section id="modify">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx">
          <h2>Shopy의 향후목표 서비스</h2>
          <ul>
            <li class="lead">Shopy는 사용자들의 편의성을 위해 더욱 발전해나갈것입니다. 이후 목표로는</li>
            <li>1. 사용자들의 편의성을 위해서 문의사항 게시판설립, 아이디/비밀번호 찾기를 지원할 계획입니다.</li>
            <li>2. 현재는 미흡한 UI구조를 보다 보기쉽고, 직관적인 구조로 변경할 계획입니다.</li>
            <li>3. 빅데이터를 기반으로 대한민국 모든 시/구/동별 시각화정보를 제공할 계획입니다.</li>
          </ul>
          <br/>
          <p>
            아직 초기단계이기에 부족한점이 많아 원하시는 부분을 하단의 전화번호로 요청하시면 최대한 반영하도록 노력하겠습니다.
            Shopy를 이용해주시는 모든 사용자분들께 감사인사드립니다.
          </p>
        </div>
      </div>
    </div>
  </section>
  
</body>
{% endblock %}