{% load static %}
<!doctype html>
<html lang='ko'>
    <head>
        <!-- Required meta tags -->
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

        <!-- Bootstrap CSS -->
        <link rel='stylesheet' type='text/css' href='{% static "css/bootstrap.min.css" %}'>
        <!-- Shopy CSS -->
        <link rel='stylesheet' type='text/css' href='{% static "style.css" %}'>

        <title>우리는 Shopy!</title>
    </head>

    <body>
        <!--- 네비게이션 바 부분 include --->
        {% include 'navbar.html' %}

        <!--- 상속받는 템플릿의 구현부분--->
        {% block content %}
        {% endblock %}

        <!-- JQuery JS-->
        <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
        <!-- Bootstrap JS-->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        <!-- 자바스크립트 부분 -->
        {% block script %}
        {% endblock %}
    </body>
</html>